@import url("/style/background.css");

@font-face {
  font-family: "Space Mono";
  src: url("/fonts/space-mono-regular.ttf");
}

@font-face {
  font-family: "Unifraktur Cook";
  src: url("/fonts/unifraktur-cook.ttf");
}


:root {
  color-scheme: light dark;
  font-family: "Space Mono", monospace;

  --white: white;
  --black: black;
  --orange: orange;
  --pink: pink;
  --purple: purple;
  --green: green;

  --fg: light-dark(var(--black), var(--white));
  --bg: light-dark(var(--white), var(--black));

  color: var(--fg);
  background-color: var(--bg);
}

body {
  z-index: 10;
  text-align: center;
}

main {
  max-width: 800px;
  margin: auto;
}

ul {
  text-align: left;
}

em {
  font-style: normal;
  color: var(--orange);
  font-family: "Unifraktur Cook", sans-serif;
}

a, a:visited {
  color: var(--fg);
  text-decoration: none;
  transition: all 250ms ease-in-out;
  border-bottom: 1px dotted var(--fg);
}

.other-buttons a, .other-buttons a:visited {
  text-decoration: none;
  border: none;
}

a:hover {
  color: var(--orange);
  border-color: var(--orange);
}

.projects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: .5rem;
  padding: .75rem;
  width: fit-content;
  justify-content: center;
}

.projects > div { /* individual projects */
  padding: .5rem;
  background-color: color-mix(in srgb, var(--fg) 20%, transparent);
  border-radius: 1rem;
  width: 100%;
}

img {
  min-width: 125px;
}

.other-buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: .25rem;
}
